<!doctype html>
<html class="no-js" lang="en" dir="ltr">
  <head>
    {% block title %}
    {% endblock %}
    <link rel="stylesheet" href="http://stash.compjour.org/assets/css/foundation.css">
    <link rel="stylesheet" type="text/css" href="add.css">
  </head>
  <body>
    <a class="button secondary" href="/">Home</a>
    <a class="button secondary" href="/leaderboard">Leaderboard</a>
    <a class="button secondary" href="/logout">Logout</a>
    <a class="clear button primary" href="#">Welcome, {{name}}!</a>

      
    {% block body %}
    {% endblock %}
   
  </body>
</html>
