{% extends "base.html" %}

{% block title %}
<title>welcome!</title>
{% endblock %}

{% block body %}
{% set messages = get_flashed_messages() %}
{% for message in messages %}

<center>
  <div class="callout primary">
    {{message}}
  </div>
  
</center>
{% endfor %}
<br><br>
<form method="POST" action="/answered">
  <center>{{question}}</center>
  <input type="radio" name="answer" value="{{e}}">{{a}}<br>
  <input type="radio" name="answer" value="{{f}}">{{b}}<br>
  <input type="radio" name="answer" value="{{g}}">{{c}}<br>
  <input type="radio" name="answer" value="{{h}}">{{d}}<br>

  <div class="input-group">
    <input type="submit" class = "button"  value="Submit" name="ans">
  </div>



<br>



{% endblock %}
