{% extends "base2.html" %}

{% block title %}
<title>register</title>
{% endblock %}

{% block body %}
{% set messages = get_flashed_messages() %}
{% for message in messages %}
<center>
  <h3>{{message}}</h3>
</center>
{% endfor %}
<h3>Register here!</h3>
<form method="POST" action="/createAccount">
  Username:
  <br>
  <input type="text" name="username">
  <br>
  Password:
  <br>
  <input type="password" name="password">
  <br>
  <div class="input-group">
    <input type="submit" class="button" value="Register" name="submit">
  </div>
</form>
<br>

{% endblock %}
