{% extends "base.html" %}

{% block title %}
<title>welcome!</title>
{% endblock %}

{% block body %}
<h3>More work needed</h3>
<br>
<form method="POST" action="/makegame">
  Choose a category:<br>
  <input type="radio" name="cat" value="9" checked>General Knowledge<br>
  <input type="radio" name="cat" value="11">Film<br>
  <input type="radio" name="cat" value="26">Celebrities<br>
  <input type="radio" name="cat" value="23">History<br><br>
  Choose a difficulty:<br>
  <input type="radio" name="diff" value="easy" checked>Easy<br>
  <input type="radio" name="diff" value="medium">Medium<br>
  <input type="radio" name="diff" value="hard">Hard<br><br>
  
  <input type="submit" value="Start" name="submit">
</form>
<br><br>
<form method="POST" action="/logout">
	<input type="submit" value="Logout" name="submit">
</form>


{% endblock %}
