{% extends "base.html" %}

{% block title %}
<title>welcome!</title>
{% endblock %}

{% block body %}
{% set messages = get_flashed_messages() %}
{% for message in messages %}
<center>
	<h3>{{message}}</h3>
</center>
{% endfor %}
<h3>Welcome {{name}}!</h3>
<h3>You currently have {{score}} points and are in {{place}} place.</h3>
<br><br>
<form method="POST" action="/makegame">
  Choose a category:<br>
  	<select name="cat">
      <option value="9" selected>General Knowledge</option>
  	  <option value="10">Books</option>
  	  <option value="11">Film</option>
  	  <option value="12">Music</option>
  	  <option value="13">Musicals and Theatres</option>
  	  <option value="14">Television</option>
  	  <option value="15">Video Games</option>
  	  <option value="16">Board Games</option>
  	  <option value="17">Science and Nature</option>
  	  <option value="18">Computers</option>
  	  <option value="19">Math</option>
  	  <option value="20">Mythology</option>
  	  <option value="21">Sports</option>
  	  <option value="22">Geography</option>
  	  <option value="23">History</option>
  	  <option value="24">Politics</option>
  	  <option value="25">Art</option>
  	  <option value="26">Celebrities</option>
  	  <option value="27">Animals</option>
  	</select>
  <br><br>
  Choose a difficulty:<br>
  <input type="radio" name="diff" value="easy" checked>Easy<br>
  <input type="radio" name="diff" value="medium">Medium<br>
  <input type="radio" name="diff" value="hard">Hard<br><br>
  <input type="submit" value="Start" name="submit">
</form>
<br><br>
<form method="POST" action="/leaderboard">
	<input type="submit" value="Check the leaderboard!" name="submit">
</form>
<br><br>
<form method="POST" action="/logout">
	<input type="submit" value="Logout" name="submit">
</form>
{% endblock %}
